body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    background-image: url(./background.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}
.todo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
#todo-input {
    padding: 10px;
    width: 450px;
    font-size: 16px;
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
}
#add-btn {
    
    font-size: 40px;
    color: #0077ff;
    cursor: pointer;
}
#add-btn:hover {
    color: #ff4d00;
}
.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.todo-item i {
    margin-left: 10px;
    cursor: pointer;
    color: #6c757d;
}
.todo-item i:hover {
    color: #fa0616;
}
.todo-item span {
    flex: 1;
    margin-left: 10px;
    font-size: 16px;
}
.todo-item input[type="checkbox"] {
    margin-right: 10px;
}
.disabled {
    color: #000000;
    pointer-events: none;
}
#save-btn {
    display: block;
    width: 40%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
#save-btn:hover {
    background-color: #0056b3;
}
#stored-tasks {
    margin-top: 30px;
    border-top: 2px solid #343a40;
    padding-top: 10px;
}
#stored-tasks h2 {
    text-align: center;
    color: #343a40;
}